@charset "utf-8";
/* CSS Document */
/*正文*/
body{width:1100px;height:auto;margin:0px auto;}
.item-col {
	height: 42px;
	line-height: 21px;
	/*transition: perspective(700px) translateY(0px) translateZ(0px) rotateX(0deg);
	transform-origin: 50% 100% 0;*/
	width:250px;
}
.item-col a {
	/*color: #d2d2d2;*/
	/*display:block;
	height:18px;
	float:left;*/
	color: #666;
	margin-right: 7px;
		
}
.item-col a:hover {
	/*color: #FFFFFF;*/
	color:#666;
	text-decoration: underline
}
/*幻灯片*/
.huandeng_big{position:relative;top:-360px;left:320px;}
/*商品排列*/
.goods_big{ width:100%;height:300px; margin:0 auto; position:relative;top:-360px;left:-18px;top:30px;}
.goods_big li{ width:160px; height:237px; border:1px solid #dbdbdb; float:left; margin-left:16px; display:inline; margin-top:10px}
.goods_big li .nav_big{ width:146px; height:auto; margin:4px auto 0;}
.goods_big li .nav_big p{ font-size:12px; line-height:22px; color:#797878; text-align:center; height:22px; overflow:hidden; }
.goods_big li .nav_big .tupian_big{ width:146px; height:142px; margin:8px auto 0; background-position:center center!important; background-repeat:no-repeat!important; display:block}
.goods_big li .nav_big .jiage_big{ width:126px; height:23px; margin:8px auto 0;}
.goods_big li .nav_big .jiage_big .jiage{ width:62px; height:23px; background:#ed5565; line-height:23px; color:#f69ca0; float:left; text-align:center; display:block}
.goods_big li .nav_big .jiage_big .goumai{ width:62px; height:23px; color:#FFFFFF; text-align:center; float:left; margin-left:2px; background:#949494; display:block;line-height:23px;}
.biaoti_big 
/*当被选择时*/
.goods_big .goods_choose:hover{ border:1px solid #ed5565!important}
.goods_big .goods_choose p{ color:#393939!important}
.goods_big .goods_choose .nav_big .jiage_big .jiage{ color:#fff!important} 
/*========================================================================================================================新品上架left*/
.new_stores_1{ width:100%;position:relative;top:-360px; height:auto;margin-top:10px;}
.new_stores_2{ width:100%; padding-bottom:10px;padding-top:10px;}
/*标题 */
.new_stores_2 .biaoti_big{ width:100%; height:36px; background:#ed5565; float:left; margin-left:9px; margin-top:6px; display:inline}
.new_stores_2 .biaoti_big .more_big{ width:40px; float:right; margin-right:12px; line-height:17px; margin-top:12px; background:url(images/shangchengzhong_93.jpg) right 2px no-repeat; height:16px; text-align:left; color:#fff; font-family:"微软雅黑", "宋体", "黑体";}
.new_stores_2 .biaoti_big .biaoti{ float:left; margin-left:10px; margin-top:8px; display:inline}

.advertising_big_2{position:relative;top:-340px;}
.advertising_big_1{ height:auto; background:url(images/shangcheng_42.jpg) repeat-y; margin-top:10px}
.advertising_big_2{ height:106px; background:url(images/shangcheng_44.jpg) bottom left no-repeat;}
.advertising_big_2 .advertising{ width:480px; height:90px; float:left; margin-left:7px; display:inline}
.advertising_big_2 .advertising .advertising2{position:relative;left:80px;}

/*版块分类*/
.section_1{ width:100%;position:relative;top:-360px; height:auto;margin-top:10px;}
.section_2{ width:100%; padding-bottom:10px}
.section_2 .section_left{ width:100%; height:auto; float:left}
.section_2 .section_left .biao_1{ width:100%; height:36px; float:left; margin-left:9px; margin-top:6px; background:#D870AD;}
.section_2 .section_left .biao_2{ width:100%; height:36px; float:left; margin-left:9px; margin-top:40px; background:#3BAEDA;}
.section_2 .section_left .biao_3{ width:100%; height:36px; float:left; margin-left:9px; margin-top:40px; background:#37BD9C;}
.section_2 .section_left .biao_4{ width:100%; height:36px; float:left; margin-left:9px; margin-top:40px; background:#F6BB43;}
.section_2 .section_left .biao_5{ width:100%; height:36px; float:left; margin-left:9px; margin-top:40px; background:#E9573E;}

#footer {width: 980px; margin: 10px auto 0; overflow: hidden;text-align:center; color: #aaa; line-height:20px;position:relative;top:-300px; }
.friendship{ margin:10px auto}
#footer p { color:#666;  line-height:30px; text-align:center; height:auto; display:block  }
#footer a { color:#666; text-decoration: none;margin-left:7px; margin-right:4px; display:inline; white-space: nowrap;}
#footer a:hover { text-decoration: underline; }
/*bottom*/
.bottom_big {
	background: #FFFFFF;
	padding-top:13px;
}
.bottom_big .help_big {
	margin: 0 auto 15px; /*padding-top:28px*/
	position:relative;top:-300px;left:80px;
}
.bottom_big .help_big .help {
	width: 190px;
	height: auto;
	float: left;
	margin-left: 6px;
	display: inline;
	-margin-left: 4px;
}
.bottom_big .help_big .help .biao_help {
	width: 190px;
	line-height: 37px;
	text-align: left;
	font-family: "微软雅黑", "宋体";
	font-size: 18px;
	text-indent: 44px;
	color: #313131;
	position: relative
}
.help .biao_help .biao_help_1, .help .biao_help .biao_help_2, .help .biao_help .biao_help_3, .help .biao_help .biao_help_4, .help .biao_help .biao_help_5 {
	width: 36px;
	height: 37px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0;
	overflow: hidden
}
.help .biao_help .biao_help_1 {background: url(../images/index_x.png) -48px -353px no-repeat
	
}
.help .biao_help{position:relative;left:50px;top:-10px;}
.help .biao_help .biao_help_2 {
	background: url(../images/index_x.png) 0 -353px no-repeat
}
.help .biao_help .biao_help_3 {
	background: url(../images/index_x.png) -95px -353px no-repeat
}
.help .biao_help .biao_help_4 {
	background: url(../images/index_x.png) -143px -353px no-repeat
}
.help .biao_help .biao_help_5 {
	background: url(../images/index_x.png) -190px -353px no-repeat
}
.bottom_big .help_big .help ul {
	width: 148px;
	height: auto;
	float: left;
	margin-left: 44px;
	display: inline;
}
.bottom_big .help_big .help ul li {
	width: 148px;
	height: 28px;
	line-height: 28px;
	text-align: left;
	float: left
}

.bottom_big .help_big .help ul li a {
	color: #999999;
}
.bottom_big .help_big .help ul li a:hover {
	text-decoration: underline
}
/*当被选择时*/
.goods_big .goods_choose:hover{ border:1px solid #ed5565!important}
.goods_big .goods_choose p{ color:#393939!important}
.goods_big .goods_choose .nav_big .jiage_big .jiage{ color:#fff!important} 









