	
	#nav_{
		padding-left:20px;
					
	}
	#logo{
		padding-top:20px;
	}
	#banner{
		padding-bottom:20px;
		padding-right:85px;
	}
	#icon_search{
		padding-top:8px;
		padding-right:20px;
	}

		