/*正文*/
body{
	margin:0px auto;
	font-family: "微软雅黑";
	overflow-x:hidden;
}
.daohangbar{
	float: right;
}
.item-col {
	height: 42px;
	line-height: 21px;
	/*transition: perspective(700px) translateY(0px) translateZ(0px) rotateX(0deg);
	transform-origin: 50% 100% 0;*/
	width:250px;
}
.item-col a {
	/*color: #d2d2d2;*/
	/*display:block;
	height:18px;
	float:left;*/
	color: #337ab7;
	margin-right: 7px;
		
}
.item-col a:hover,.item-hd a:hover{
	/*color: #FFFFFF;*/
	color: #ED5565;
	text-decoration: underline
}

#nav_{
			padding-left:55%;
		}
#footer{ font-size: 10px;}
.bottom_big ul{list-style-type: none; font-size: 10px;}
#banner{
		padding-bottom:20px;
	}
.search_right_parent{
	
	border-left: 0px solid #337AB7;
	float: right;
	padding-bottom: 120px;
}
.biaoqian{
	height: 8%;
	width: 90%;
	margin-left: 5%;
	border: 1px solid #c0c0c0;
}
.biaoqian_son{
	margin: 0px;
	padding: 0;
	padding-top: 2%;
	list-style-type: none;
}
.biaoqian_single{
	padding: 0% 4%;
	line-height: 25px;
	display: inline;
}
.result{

	border: dashed 0px #000000;
}
#results{

}
#turnPage{
	margin-top: 20px;
	padding-left: 10%;
	height: 32px;
}
#turnPage div{
	    padding-top: 50px;
}
.xinping{
	
}
.new_img {
    margin: 0px;
    padding: 0px;
    max-width: 187px;
}
.new_img a div {
    border: 1px solid #DA4453;
    width: 132px;
    height: 132px;
    display: block;
    border: 1px solid #DA4453;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
#new_shopping{
	border: 1px solid #DA4453;
    background: #FFFCF5 none repeat scroll 0% 0%;
    max-width: 188px;
    height: auto;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-top: 20px;
}
/*商品排列*/
.goods_big{ width:100%; margin:0 auto; position:relative;top:0px;left:-9px;}
.goods_big li{ width:20%; height:28%; border:1px solid #dbdbdb; float:left; margin-left:25px; display:inline; margin-top:15px;margin-bottom: 25px;padding-bottom: 20px;}
.goods_big li .nav_big{ width:146px; height:auto; margin:4px auto 0;}
.goods_big li .nav_big p{ font-size:12px; line-height:22px; color:#797878; text-align:center; height:22px; overflow:hidden; }
.goods_big li .nav_big .tupian_big{ width:146px; height:142px; margin:8px auto 0; background-position:center center!important; background-repeat:no-repeat!important; display:block}
.goods_big li .nav_big .jiage_big{ width:126px; height:23px; margin:8px auto 0;}
.goods_big li .nav_big .jiage_big .jiage{ width:62px; height:23px; background:#ed5565; line-height:23px; color:#f69ca0; float:left; text-align:center; display:block}
.goods_big li .nav_big .jiage_big .goumai{ width:62px; height:23px; color:#FFFFFF; text-align:center; float:left; margin-left:2px; background:#3BAEDA; display:block;line-height:23px;}
/*当被选择时*/
.goods_choose:hover{ border:1px solid #ed5565!important}
.goods_big .goods_choose p:hover{ color:#393939!important}
.goods_big .goods_choose .nav_big .jiage_big .jiage{ color:#fff!important}

#footer {width: 980px; margin: 10px auto 0; overflow: hidden;text-align:center; color: #aaa; line-height:20px;position:relative;top:0px; }
.friendship{ margin:10px auto}
#footer p { color:#666;  line-height:30px; text-align:center; height:auto; display:block  }
#footer a { color:#666; text-decoration: none;margin-left:7px; margin-right:4px; display:inline; white-space: nowrap;}
#footer a:hover { text-decoration: underline; }
/*bottom*/
.bottom_big {
	background: #FFFFFF;
	padding-top:13px;
	height: auto;
}
.bottom_big .help_big {
	margin: 0 auto 15px; /*padding-top:28px*/
	    position: fixed;
    top: 500px;
    left: 140px;
}
.bottom_big .help_big .help {
	width: 190px;
	height: auto;
	float: left;
	margin-left: 6px;
	display: inline;
	-margin-left: 4px;
}
.bottom_big .help_big .help .biao_help {
	width: 190px;
	line-height: 37px;
	text-align: left;
	font-family: "微软雅黑", "宋体";
	font-size: 18px;
	text-indent: 44px;
	color: #313131;
	position: relative
}
.help .biao_help .biao_help_1, .help .biao_help .biao_help_2, .help .biao_help .biao_help_3, .help .biao_help .biao_help_4, .help .biao_help .biao_help_5 {
	width: 36px;
	height: 37px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0;
	overflow: hidden
}
.help .biao_help .biao_help_1 {background: url(../images/index_x.png) -48px -353px no-repeat
	
}
.help .biao_help{position:relative;left:50px;top:-10px;}
.help .biao_help .biao_help_2 {
	background: url(../images/index_x.png) 0 -353px no-repeat
}
.help .biao_help .biao_help_3 {
	background: url(../images/index_x.png) -95px -353px no-repeat
}
.help .biao_help .biao_help_4 {
	background: url(../images/index_x.png) -143px -353px no-repeat
}
.help .biao_help .biao_help_5 {
	background: url(../images/index_x.png) -190px -353px no-repeat
}
.bottom_big .help_big .help ul {
	width: 148px;
	height: auto;
	float: left;
	margin-left: 44px;
	display: inline;
}
.bottom_big .help_big .help ul li {
	width: 148px;
	height: 28px;
	line-height: 28px;
	text-align: left;
	float: left
}

.bottom_big .help_big .help ul li a {
	color: #999999;
}
.bottom_big .help_big .help ul li a:hover {
	text-decoration: underline
} 